* {
  transform-style: preserve-3d;
}

html, body {
  height: 100vh;
  background: black;
  scroll-behavior: smooth;
  /*
  background: url(../images/background-image-matias-skodt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  */
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: yellow;
}

h3 {
  font-size: 4rem;
  color: yellow;
}

p {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: blue;
  font-family: 'Roboto Mono', monospace;
}

header h2 {
  display: none;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background-color: black;
}

/* Style the links inside the navigation bar */
.tabbar a {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 1.50rem 1rem;
  list-style-type: none;
  text-decoration: none;
}

/* Change the color of links on hover */
.tabbar a:hover {
  color: white;
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: white;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: 100vh animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* //// BAGGRUNDS FADE //// */
.forsvind {
  font-size: 20vw;
  position: fixed;
  width: 100vw;
  margin-top: -70vw;
  margin-left: -1vw;
  z-index: -2;
  overflow: hidden;
  animation-name: change-color;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.forsvind b {
  color: yellow;
}

.forsvind-projects {
  font-size: 20vw;
  position: fixed;
  width: 100vw;
  margin-top: -70vw;
  margin-left: -1vw;
  z-index: -2;
  overflow: hidden;
  animation-name: change-color;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.forsvind-projects b {
  color: yellow;
}

/* The animation code */
@keyframes change-color {
  from {
    color: yellow;
  }

  to {
    color: black;
  }
}

/* /////// GLOBALE 3D-object TING ////// */
.code {
  padding: 1em;
  background: #eee;
  border: 2px solid #777;
}

.model {
  pointer-events: none;
  display: block;
  width: 70vmin;
  height: 170vmin;
  margin-top: -5vh;
}

.model--small {
  width: 25vmin;
  height: 25vmin;
}

.model--tiny {
  width: 15vmin;
  height: 15vmin;
}

.model--abs {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25vmin;
}

.model--abs.model--small {
  margin: -12.5vmin;
}

.model--abs.model--tiny {
  margin: -7.5vmin;
}

.model--spaced {
  margin: 1.5rem;
}

.test {
  text-align: center;
}

.test__output {
  position: relative;
  margin-top: 11vh;
}

.model {
  display: inline-block;
}

.test--fail {
  color: #c00;
  background: rgba(200, 0, 0, .2)
}

.test--fail::before {
  content: 'FAILING TEST'
}

@keyframes spin-xyz {
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes spin-x {
  to {
    transform: rotateX(360deg);
  }
}

@keyframes spin-y {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin-z {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes swing-x {
  from {
    transform: translateX(-25vw);
  }

  to {
    transform: translateX(25vw);
  }
}

.space {
  border-style: solid;
  margin-bottom: 100vh;
}

/* /////////// STYLING FOR INDEX ///////// */
.intro-overlap {
  display: none;
}

.intro-text {
  z-index: 1;
  color: white;
  margin-top: -25vw;
  text-align: justify;
  margin-left: 3vw;
  margin-right: 3vw;
}

/*

////////////  STYLING FOR PROJECT //////////////

*/
.forsvind-projects {
  font-size: 20vw;
  position: fixed;
  width: 100vw;
  margin-top: -20vw;
  margin-left: -1vw;
  z-index: -2;
  overflow: hidden;
  animation-name: change-color;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.forsvind b {
  color: yellow;
}

.model-hand {
  margin-top: 10vh;
}

#project-collections {
  margin-top: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#container-1 {
  background-image: url("../img/regular-party-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw auto;
  background-position: center;
}

#container-2 {
  background-image: url("../img/myFSTVL-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw auto;
  background-position: center;
}

#container-3 {
  background-image: url("../img/undermasken-landingpage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw auto;
  background-position: center;
}

#container-4 {
  background-image: url("../img/cleansneaks-landingpage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw auto;
  background-position: center;
}

#container-5 {
  background-image: url("../img/to-the-top.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90vw auto;
  background-position: center;
}

#container-5 h3 {
  padding-bottom: 40vh;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 7vh;
  font-family: 'Roboto Mono', monospace;
}

.project-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  position: relative;
  display: inline-block;
}

.project-text {
  text-align: center;
  position: absolute;
  margin-top: 20vw;
  color: white;
}

/* /////// MY OWN STUFF ////// */
#myOwnProjects p {
  color: black;
}

#myOwnProjects {
  margin-top: 5vh;
}

.gallery-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -15vh;
}

.responsive-element {
  width: 100%;
  height: auto;
}

.responsive-element-video {
  width: 100%;
  height: 100%;
}

.elements {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: black;
}

.x-close {
  position: absolute;
  color: white;
  padding: 5px;
  font-size: 40px;
  z-index: 10;
  top: 0;
  right: 0;
}

.refresh {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5vh;
}

.example1 {
  height: 10vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 5vh;
}

.example1 p {
  font-size: 1.2em;
  color: white;
  width: 200%;
  height: 100%;
  margin: 0;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 10s linear infinite;
  -webkit-animation: example1 10s linear infinite;
  animation: example1 10s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/* /////// PC //////// */
@media (min-width: 1025px) {

  /* ///// STYLING FOR INDEX ////// */
  #index {
    height: 100vh;
  }

  .tabbar {
    width: 50%;
    float: right;
  }

  .model {
    width: 50vmin;
    height: 100vmin;
  }

  .test__output {
    margin-top: 15vh;
  }

  .test {
    position: absolute;
  }

  .menu-overlab {
    position: relative;
    background-color: black;
    height: 100%;
    width: 50%;
    float: right;
  }

  .intro-overlab {
    width: 43%;
    float: right;
    margin-top: 10vh;
    font-size: 13px;
  }

  .forsvind {
    width: 50%;
    height: 130vh;
    font-size: 6.5rem;
    margin-top: -40vh;
    top: 0;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer h3, p, a {
    color: blue;
    font-size: 0.8rem;
  }

  /*
  ////////////  STYLING FOR PROJECT //////////////
  */
  #projects .test__output {
    width: 100vw;
    height: 100vh;
  }

  .forsvind-projects {
    width: 50%;
    height: 100vh;
    font-size: 6.5rem;
    margin-top: -10vh;
    top: 0;
  }

  .model-hand {
    width: 30%;
    margin-top: 20vh;
  }

  #project-collections {
    display: block;
    margin-top: 0vh;
  }

  #container-1 {
    overflow: hidden;
    margin-top: 100vh;
    background-size: 25vw auto;
    float: right;
  }

  #container-2 {
    overflow: hidden;
    background-size: 25vw auto;
  }

  #container-3 {
    overflow: hidden;
    background-size: 25vw auto;
  }

  #container-4 {
    overflow: hidden;
    background-size: 25vw auto;
  }

  #container-5 {
    overflow: hidden;
    background-size: 25vw auto;
  }

  #container-5 h3 {
    padding-bottom: 10vh;
  }

  .button {
    border-style: solid;
    border-color: white;
  }

  .project-container {}

  .project-text {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vw;
    position: relative;
  }

  .project-text p {
    color: white;
  }

  /* ///// MY OWN STUFF ////// */
  #myOwnProjects p {
    color: white;
  }

  #myOwnProjects {}

  .gallery-container {
    align-content: center;
  }

  .responsive-element {
    width: 200px;
    height: auto;
  }

  .responsive-element-video {
    width: 200px;
    height: auto;
  }

  .elements {
    position: relative;
    width: 200px;
    height: auto;
    margin: 3vh;
  }

  .x-close {
    position: absolute;
    margin-top: -2vh;
    margin-right: -1vh;
  }

  .refresh {
    background-color: black;
  }

  .example1 a {
    font-size: 2rem;
    color: blue;
  }

  .example1 p {
    font-size: 2rem;
    -moz-animation: example1 20s linear infinite;
    -webkit-animation: example1 20s linear infinite;
    animation: example1 20s linear infinite;
  }
}
